- @favs.load
- if @favs.length > 0
  %h2 Favourite books
  = render 'shared/book-grid', books: @favs

%h2 All books
= render 'shared/book-grid', books: @books

.row
  = link_to "Add", '', class: 'btn btn-primary m-2', 'data-toggle': :modal, 'data-target': '#addModal'  

.modal.fade#addModal
  .modal-dialog{role: :document}
    = form_tag(new_book_path, method: :get, enforce_utf8: false) do
      .modal-content
        .modal-header
          %h5.modal-title= 'Add a book'
          %button.close{type: :button, 'data-dismiss': :modal, 'aria-label': 'Close'}
            %span{'aria-hidden': :true} &times;
        .modal-body
          .form-group
            = label_tag :query, 'Search for:'
            = text_field_tag :query, '', class: 'form-control'
        .modal-footer
          = submit_tag 'Search', name: nil, class: 'btn btn-primary'
          %button.btn.btn-secondary{type: :button, 'data-dismiss': :modal} Cancel