%h2= params[:query]

%table.table
  %thead
    %th
    %th Title
    %th Author
    %th Rating
    %th
  %tbody
    - @proposals.each do |p|
      %tr.proposal
        %td= image_tag p.image_url, class: 'border border-secondary'
        %td= link_to p.title, "https://www.goodreads.com/book/show/#{p.id}"
        %td= p.author
        %td= p.rating
        %td= link_to "Add", books_path(gr_id: p.id), method: :post

%h4 Insert manually
%p You can add the book by providing its id in GoodReads.
= form_tag(books_path) do
  .form-row
    .col-md-4
      = label_tag :gr_id, 'GoodReads ID'
      = text_field_tag :gr_id, '', class: 'form-control'
  .form-row
    = submit_tag 'Add', class: 'btn btn-primary m-1'