%h2= params[:query]

%table.table
  %thead
    %th
    %th Title
    %th Author
    %th Rating
    %th
  %tbody
    - @works.each do |work|
      %tr.proposal
        %td= image_tag work.best_book.small_image_url, class: 'border border-secondary'
        %td= link_to work.best_book.title, "https://www.goodreads.com/book/show/#{work.best_book.id}"
        %td= work.best_book.author.name
        %td= work.average_rating
        %td= link_to "Add", books_path(gr_id: work.best_book.id), method: :post