%h1= @book.title

.row
  .col-md-4
    = image_tag "http://via.placeholder.com/160x220"
  .col-md-8
    %dl.row
      %dt.col-md-3 Title
      %dd.col-md-9= @book.title
      %dt.col-md-3 Author
      %dd.col-md-9= @book.author
      %dt.col-md-3 Description
      %dd.col-md-9
        %p @book.description
      %dt.col-md-3 Pages
      %dd.col-md-9= @book.pages
      %dt.col-md-3 Medium
      %dd.col-md-9= @book.medium