%h2= @book.title

.row
  .col-md-4.col-xs-12
    %div.book-image
      = image_tag "#{@book.slug}-352x500.jpg", alt: @book.title, class: "border border-secondary w-100"
      %span.favourite= favourite_link
      %span.status= status_tag

    %div.center.m-2= toggle_status_link

  .col-md-8.col-xs-12
    %dl.row
      %dt.col-md-2 Title
      %dd.col-md-10= @book.title
      %dt.col-md-2 Author
      %dd.col-md-10= @book.author
      %dt.col-md-2 Pages
      %dd.col-md-10= @book.pages
      %dt.col-md-2 Medium
      %dd.col-md-10= t_enum @book, :medium
      %dt.col-md-2 Description
      %dd.mx-3.small.text-justify= @book.description.html_safe

    = link_to "Back", books_path